.StepThree {
  @media (max-width: 600px) {
    height: 800px;
  }
  height: 1024px;
  background: var(--Background_Yellow, #fcf5e6);
  justify-content: center;
  display: grid;
  position: relative;
  overflow: hidden;
  > div {
    background-color: #ffe6af;
    width: 1440px;
    border-radius: 0 0 50px 50px;
  }
}

.StepThree-Text {
  @media (max-width: 600px) {
    width: 327px;
    margin-left: auto;
    height: 130px;
    margin-top: 80px;
  }
  @media (max-width: 1024px) {
    width: 582px;
    margin: 110px auto auto auto;
  }

  height: 185px;
  margin-top: 167px;
  width: 1024px;
  text-align: left;
  margin-right: 208px;
  margin-left: 208px;
}

.StepThree-Step1 {
  @media (max-width: 600px) {
    font-size: 24px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
  }
  color: var(--Main_Coral, #f07c4b);
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.StepThree-Title {
  @media (max-width: 600px) {
    font-size: 24px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
  }

  color: #000;
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.StepThree-Desc {
  @media (max-width: 600px) {
    font-size: 18px;
  }
  @media (max-width: 1024px) {
    font-size: 24px;
  }

  color: var(--gray-500, #a09e9c);
  font-family: Omyu;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 153.333% */
  margin-left: 7px;
}

.StepThree-Button {
  @media (max-width: 600px) {
    height: 48px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
    top: 0px;
  }

  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  cursor: pointer;
}

.Stepthree-Card {
  @media (max-width: 600px) {
    height: 327px;
    bottom: 24px;
  }
  @media (max-width: 1024px) {
    height: 381px;
    right: 0;
    bottom: 0px;
    top: unset;
  }

  height: 510px;
  position: absolute;
  top: 0px;
  right: 36px;
}

.StepThree-Pictures {
  @media (max-width: 600px) {
    width: 327px;
  }
  @media (max-width: 1024px) {
    width: 582px;
    margin: auto;
  }
  width: 1024px;
  height: 510px;
  position: relative;
  margin-right: 208px;
  margin-left: 208px;
}
