.StepThree {
  height: 1024px;
  background: var(--Background_Yellow, #fcf5e6);
  justify-content: center;
  display: grid;
  position: relative;
  overflow: hidden;
  > div {
    background-color: #ffe6af;
    width: 1440px;
    border-radius: 0 0 50px 50px;
  }
}

.StepThree-Text {
  height: 185px;
  margin-top: 167px;
  width: 1024px;
  text-align: left;
  margin-right: 208px;
  margin-left: 208px;

  @media (max-width: 1024px) {
    width: 582px;
    margin: 126px auto auto auto;
  }
}

.StepThree-Step1 {
  color: var(--Main_Coral, #f07c4b);
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.StepThree-Title {
  color: #000;
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.StepThree-Desc {
  color: var(--gray-500, #a09e9c);
  font-family: Omyu;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 153.333% */
  margin-left: 7px;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.StepThree-Button {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 36px;
    top: 0px;
  }
}

.Stepthree-Card {
  height: 510px;
  position: absolute;
  top: 0px;
  right: 36px;

  @media (max-width: 1024px) {
    height: 381px;
    right: 0;
    bottom: 0px;
    top: unset;
  }
}

.StepThree-Pictures {
  width: 1024px;
  height: 510px;
  position: relative;
  margin-right: 208px;
  margin-left: 208px;

  @media (max-width: 1024px) {
    width: 582px;
    margin: auto;
  }
}
