.StepOne {
  height: 1024px;
  background: var(--Background_Yellow, #fcf5e6);
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;

  @media (max-width: 600px) {
    height: 800px;
  }
}

.StepOne-Text {
  height: 185px;
  margin-top: 167px;
  width: 1092px;
  text-align: left;
  margin-left: 24px;

  @media (max-width: 1024px) {
    width: 430px;
  }

  @media (max-width: 600px) {
    margin-top: 110px;
  }
}

.StepOne-Step1 {
  color: var(--Main_Coral, #f07c4b);
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.StepOne-Title {
  color: #000;
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.StepOne-Flower {
  height: 332px;
  position: absolute;
  bottom: 270px;
  z-index: 1;

  @media (max-width: 1024px) {
    height: 200px;
    bottom: 300px;
  }
}

.StepOne-ImageContainer {
  width: 1440px;
  overflow: hidden;
  display: contents;
}

.StepOne-Choice-img {
  position: absolute;
  bottom: 156px;
  height: 213px;
  animation: scroll 20s linear infinite;
  overflow: hidden;

  @media (max-width: 1024px) {
    display: none;
  }
}

.StepOne-Choice-img_dup {
  position: absolute;
  bottom: 156px;
  height: 213px;
  animation: scroll4 20s linear infinite;
  overflow: hidden;
  @media (max-width: 1024px) {
    display: none;
  }
}

.StepOne-mobile-img {
  position: absolute;
  display: none;
  width: 1176px;
  height: 304px;
  bottom: 79px;
  animation: scroll5 20s linear infinite;
  overflow: hidden;

  @media (max-width: 1024px) {
    display: block;
  }
}

.StepOne-mobile-img_dup {
  position: absolute;
  display: none;
  width: 1176px;
  height: 304px;
  bottom: 79px;
  animation: scroll6 20s linear infinite;
  overflow: hidden;

  @media (max-width: 1024px) {
    display: block;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2560px);
  }
}

@keyframes scroll4 {
  0% {
    transform: translateX(4082px);
  }
  100% {
    transform: translateX(1523px);
  }
}
@keyframes scroll5 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1024px);
  }
}

@keyframes scroll6 {
  0% {
    transform: translateX(1196px);
  }
  100% {
    transform: translateX(172px);
  }
}
