.StepTwo {
  height: 1024px;
  background: var(--Background_Yellow, #fcf5e6);
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;

  @media (max-width: 600px) {
    height: 800px;
  }
}

.StepTwo-Text {
  height: 185px;
  margin-top: 167px;
  width: 1024px;
  text-align: left;
  margin-left: 24px;

  @media (max-width: 1024px) {
    width: 600px;
    margin-top: 110px;
  }
}

.StepTwo-Step1 {
  color: var(--Main_Coral, #f07c4b);
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.StepTwo-Title {
  color: #000;
  font-family: Omyu;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 1024px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.StepTwo-Desc {
  color: var(--gray-500, #a09e9c);
  font-family: Omyu;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 153.333% */
  margin-left: 7px;
}

.StepTwo-Picture {
  position: absolute;
  bottom: 249px;
  height: 346px;
  z-index: 1;

  @media (max-width: 1024px) {
    height: 279px;
    bottom: 297px;
  }

  @media (max-width: 600px) {
    height: 170px;
  }
}

.StepTwo-Ground {
  position: absolute;
  bottom: 0px;
  height: 324px;
  width: 1440px;
}
